html { 
    scroll-snap-type: y;
}

* {
    margin: 0;
    font-family: 'Noto Serif', serif;
}

#inicial {
    background-color: black;
}

#fundo_inicial {
    height: 100vh;
    text-align: center;
    background: no-repeat center/100% url("./images/background_inicial.jpg");
}

#foto_pessoal {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 50%;
}

#titulo {
    color: white;
    font-size: 35px;
}

#subtitulo {
    color: rgb(198, 198, 198);
    font-size: 25px;
}

#imagem_fundo_inicial {
    width: 100%;
    height: 100%;
}

#sobre_mim {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    background: no-repeat center/100% url("./images/background-sobre-mim.jpg");
}

#titulo_sobre_mim {
    font-size: 30px;
    color: #6E85B7;
    font-weight: bold;
}

#icon_sobre_mim {
    background-color: white;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 150px;
}

#icon_programador {
    width: 150px;
}

#projetos {
    font-family: 'Roboto', sans-serif;
    background: repeat-y center/100% url("./images/background-projetos.jpg");
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    text-align: center;
}

.titulo_projeto {
    font-weight: bold;  
    font-size: 25px; 
    color: #F9F9C5;
}

.texto_projeto, .tecnologias {
    width: 60%;
    font-size: 20px;
    color: white;
    margin: auto;
}

.titulo-tecnologias {
    font-weight: bold;
}

#titulo_secao_projetos {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: rgb(164, 78, 193);
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
}

.link-projeto {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: white;
}

.btn-github:hover {
    background-color: rgb(206, 111, 238);
    color: white;
}

.btn-github {
    background-color: rgb(164, 78, 193);
    color: white;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #d0d0d0;
}

.carousel-dark .carousel-control-prev-icon {
    filter: none;
}

.carousel-dark .carousel-control-next-icon {
    filter: none;
}
