* {
    margin: 0;
}

main {
    overflow-x:hidden;
    position: relative;
}


#capa {
    /*background: no-repeat 100% url("./images/capa.png");*/
    border-bottom: #380e49d8 solid 10px;
}

.img-capa {
    width: 38%;
}

.nav-link {
    color: rgb(113, 113, 113);
    font-size: 22px;
}

.capa-texto {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao {
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'Roboto Condensed', sans-serif;
}

.resumo {
    color: #8D8D8D;
    font-size: 36px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
}

.grifado {
    background-color: #F05941;
    height: 10px;
    width: 150px;
    margin-left: 12px;
}

section {
    background-color: #180620;
}

.titulo-secoes {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

#cards_habilidades {
    width: 100%;
}

.card-tecnologias {
    border: 3px solid #424242;
    border-radius: 80px;
    height: 245px;
    width: 144px;
    font-size: 71px;
    background-color: #22092C;
}

.texto-card {
    color: #FFFFFF;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.fa-laravel {
    color: #F05340;
}

.fa-bootstrap {
    color: #563D7C;
}

.fa-react {
    color: #61DBFB;
}

#carouselExampleIndicators {
    height: 75%;
    background-color: #22092C;
    width: 75%;
    border: 2px solid #581771;
    display: flex;
    align-items: center;
}

.imgs-carrossel {
    width: 20%;
}

.texto-carrossel {
    color: #FFFFFF;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.btn-github {
    background-color: #6E5494;
    color: #FFFFFF;
    width: 154px;
    height: 38px;
    padding-bottom: 20px;
    border: 1px solid #4b334d;
    border-radius: 40px;
}

.items-sobre-mim  {
    width: 85%;
    margin: 0 auto;
}

.titulo-sobre-mim {
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
}

.texto-sobre {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 6px;
}

.texto-sobre-mim-destacado {
    color: #BE3144;
}

.fa-quote-left {
    color: #872341;
    font-size: 58px;
}

.descricao {
    font-size: 22px;
    font-family: 'Roboto', serif;
    font-weight: 300;
}

.foto {
    width: 373px;
    height: 371px;
    background-color: #BE3144;
    border: 3px solid #534141;
    border-radius: 50px 50px 0px 50px;
}

.foto-vinicius {
    position: relative;
    left: 128px;
    top: 29px;
    width: 240px;
}

.contato {
    color: #FFFFFF;
    font-size: 27px;
    font-family: 'Roboto Slab', sans-serif;
}

.fa-linkedin {
    color: #00569E;
}

.fa-envelope {
    color: #872341;
}

.cards-section {
    height: 85%;
}

.texto-contatos {
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.icon-contato {
    font-size: 28px;
}

footer {
    background-color: #09020b;
    font-family: 'Roboto Serif', serif;
    color: white;
    font-weight: 100;
    text-align: center;
    padding: 10px;
}

.fa-copyright {
    font-size: 22px;
}

.img-capa-div {
    display: flex;
    height: 30%;
    justify-content: end;
    align-items: end;
}

.icon-flutter {
    width: 95%;
}

.icon-java {
    width: 130%;
}

.icon-javascript {
    width: 125%;
}

@media(min-width: 1400px) {
    .img-capa {
        width: 60%;
    }
}

@media(min-width: 768px) and (max-width: 1300px) {
    .img-capa {
        width: 48%;
    }
}

@media(max-width: 768px) {
    .nav-link {
        color: rgb(113, 113, 113);
        font-size: 16px;
    }

    .img-capa {
        width: 90%;
    }

    .capa-texto-2 {
        margin-bottom: 45px;
    }

    .texto-carrossel {
        font-size: 13px;
    }

    .card-tecnologias {
        height: 110px;
        width: 68px;
        font-size: 20px;
    }

    .texto-card {
        font-size: 14px;
    }

    .items-sobre-mim-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        align-items: start !important;
    }

    .descricao {
        font-size: 18px;
    }

    .apresentacao {
        font-size: 40px;
    }
    
    .resumo {
        font-size: 20px;
    }
    
    .grifado {
        font-size: 10px;
    }

    .sobre-mim-texto {
        width: 100%;
    }

    .foto {
        width: 79%;
        height: 79%;
        background-color: #BE3144;
        border: 3px solid #534141;
        border-radius: 50px 50px 0px 50px;
    }
    
    .foto-vinicius {
        position: relative;
        left: 117px;
        top: 1px;
        width: 54%;
    }
}
