html { 
    scroll-snap-type: y;
}

* {
    margin: 0;
    font-family: 'Noto Serif', serif;
}

#inicial {
    background-color: black;
}

#fundo_inicial {
    height: 100vh;
    text-align: center;
    background: no-repeat center/100% url("./images/background_inicial.jpg");
}

#foto_pessoal {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 50%;
}

#titulo {
    color: white;
    font-size: 35px;
    animation: focus-in-expand 6s linear infinite;
}

#subtitulo {
    color: rgb(198, 198, 198);
    font-size: 24px;
}

#imagem_fundo_inicial {
    width: 100%;
    height: 100%;
}

#sobre_mim {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    background-color: black;
}

#area_sobre_mim {
    background: repeat-y center/100% url("./images/background-projetos.jpg");
}

#titulo_sobre_mim {
    font-size: 30px;
    color: #6E85B7;
    font-weight: bold;
}

#titulo_contato {
    font-size: 30px;
    color: #6E85B7;
    font-weight: bold;
}

.fa-linkedin {
    color: #0e76a8;
    font-size: 28px;
}

.fa-google {
    color: #0F9D58;
    font-size: 28px;
}

.icon_projetos {
    background-color: white;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 150px;
}

#icon_sobre_mim {
    background-color: white;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 150px;
    -webkit-animation: puff-in-center 8s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite;
	        animation: puff-in-center 8s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite;
}

#icon_programador {
    width: 150px;
}

#trabalhos {
    background: repeat-y center/100% url("./images/background-projetos.jpg");
    height: 100vh;
}

#projetos {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

.titulo_projeto {
    font-weight: bold;  
    font-size: 25px; 
    color: #F9F9C5;
}

.texto_projeto, .tecnologias {
    width: 60%;
    font-size: 20px;
    color: white;
    margin: auto;
}

.titulo-tecnologias {
    font-weight: bold;
}

#titulo_secao_projetos {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: rgb(220, 213, 213);
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.link-projeto {
    font-size: 13px;
}

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(5px);
              filter: blur(5px);
      opacity: 0;
    }

    2% {
        -webkit-transform: scale(1.8);
                transform: scale(1.8);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0.2;
    }

    4% {
        -webkit-transform: scale(1.6);
                transform: scale(1.6);
        -webkit-filter: blur(3px);
                filter: blur(3px);
        opacity: 0.4;
      }

    6% {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        -webkit-filter: blur(2px);
                filter: blur(2px);
        opacity: 0.6;
    }

    8% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-filter: blur(1px);
                filter: blur(1px);
        opacity: 0.8;
    }

    10% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }

    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(5px);
                filter: blur(5px);
        opacity: 0;
    }
  
    2% {
        -webkit-transform: scale(1.8);
                transform: scale(1.8);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0.2;
    }
  
    4% {
        -webkit-transform: scale(1.6);
                transform: scale(1.6);
        -webkit-filter: blur(3px);
                filter: blur(3px);
        opacity: 0.4;
    }
  
    6% {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        -webkit-filter: blur(2px);
                filter: blur(2px);
        opacity: 0.6;
    }

    8% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-filter: blur(1px);
                filter: blur(1px);
        opacity: 0.8;
    }
  
    10% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
  

@keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }

    2% {
        letter-spacing: -0.4em;
        -webkit-filter: blur(10px);
                filter: blur(10px);
        opacity: 0.2;
    }

    4% {
        letter-spacing: -0.3em;
        -webkit-filter: blur(8px);
                filter: blur(8px);
        opacity: 0.4;
    }

    6% {
        letter-spacing: -0.2em;
        -webkit-filter: blur(6px);
                filter: blur(6px);
        opacity: 0.6;
    }

    8% {
        letter-spacing: -0.1em;
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0.8;
    }

    10% {
        letter-spacing: 0.0em;
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }

    100% {
        letter-spacing: 0.0em;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

@-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }

    5% {
        -webkit-transform: rotateY(15deg) translateY(-150px) skewY(-15deg);
                transform: rotateY(15deg) translateY(-150px) skewY(-15deg);
        opacity: 0.5;
    }

    10% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
                transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }

    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
                transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
      }

      1% {
        -webkit-transform: rotateY(27deg) translateY(-270px) skewY(-27deg);
                transform: rotateY(27deg) translateY(-270px) skewY(-27deg);
        opacity: 0.5;
    }

      2% {
        -webkit-transform: rotateY(24deg) translateY(-240px) skewY(-24deg);
                transform: rotateY(24deg) translateY(-240px) skewY(-24deg);
        opacity: 0.5;
    }

      3% {
        -webkit-transform: rotateY(21deg) translateY(-210px) skewY(-21deg);
                transform: rotateY(21deg) translateY(-210px) skewY(-21deg);
        opacity: 0.5;
    }

      4% {
        -webkit-transform: rotateY(18deg) translateY(-180px) skewY(-18deg);
                transform: rotateY(18deg) translateY(-180px) skewY(-18deg);
        opacity: 0.5;
    }
  
      5% {
          -webkit-transform: rotateY(15deg) translateY(-150px) skewY(-15deg);
                  transform: rotateY(15deg) translateY(-150px) skewY(-15deg);
          opacity: 0.5;
      }

      6% {
        -webkit-transform: rotateY(12deg) translateY(-120px) skewY(-12deg);
                transform: rotateY(12deg) translateY(-120px) skewY(-12deg);
        opacity: 0.5;
      }

      7% {
        -webkit-transform: rotateY(9deg) translateY(-9px) skewY(-9deg);
                transform: rotateY(9deg) translateY(-9px) skewY(-9deg);
        opacity: 0.5;
      }

      8% {
        -webkit-transform: rotateY(6deg) translateY(-6px) skewY(-6deg);
                transform: rotateY(6deg) translateY(-6px) skewY(-6deg);
        opacity: 0.5;
      }

      9% {
        -webkit-transform: rotateY(3deg) translateY(-3px) skewY(-3deg);
                transform: rotateY(3deg) translateY(-3px) skewY(-3deg);
        opacity: 0.5;
      }
  
      10% {
          -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
                  transform: rotateY(0deg) translateY(0) skewY(0deg);
          opacity: 1;
      }
  
      100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
                transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
      }
}
  

a {
    text-decoration: none;
    color: white;
}

.btn-github:hover {
    background-color: rgb(206, 111, 238);
    color: white;
}

.btn-github {
    background-color: rgb(164, 78, 193);
    color: white;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #d0d0d0;
}

.carousel-dark .carousel-control-prev-icon {
    filter: none;
}

.carousel-dark .carousel-control-next-icon {
    filter: none;
}

.titulo-projetos {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .titulo-projetos {
        margin-top: 180px !important;
    }

    .carouselExampleDark {
        height: 50% !important;
    }
}

.carousel {
    height: 75%;
}

#contato {
    margin-top: 120px;
}
